---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: machineclasses.vitistack.io
spec:
  group: vitistack.io
  names:
    kind: MachineClass
    listKind: MachineClassList
    plural: machineclasses
    shortNames:
    - mc
    singular: machineclass
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.name
      name: Name
      type: string
    - jsonPath: .spec.provider
      name: Provider
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .status.status
      name: Status
      type: string
    - description: Creation Timestamp
      jsonPath: .status.created
      name: Created
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MachineClass is the Schema for the MachineClass API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              category:
                default: Standard
                type: string
              cpu:
                properties:
                  cores:
                    type: integer
                  sockets:
                    type: integer
                  threads:
                    type: integer
                required:
                - cores
                type: object
              default:
                default: false
                type: boolean
              description:
                type: string
              displayName:
                type: string
              enabled:
                default: true
                type: boolean
              gpu:
                properties:
                  cores:
                    type: integer
                  manufacturer:
                    type: string
                required:
                - cores
                type: object
              machineProviders:
                items:
                  type: string
                type: array
              memory:
                properties:
                  maxQuantity:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  minQuantity:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  quantity:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                required:
                - quantity
                type: object
            required:
            - category
            - cpu
            - default
            - enabled
            - machineProviders
            - memory
            type: object
          status:
            properties:
              created:
                type: string
              message:
                type: string
              name:
                type: string
              phase:
                type: string
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
