# Copy this file to .env or .env-<environment> and adjust values
# The ENV variable selects the overlay file .env-<ENV> if present
# Example:
#   ENV=dev
# will cause .env-dev to be loaded after .env

# Logging
LOG_JSON_ENABLED=false
LOG_COLORIZE_ENABLED=true
LOG_ADD_CALLER=true
LOG_LEVEL=debug
LOG_UNESCAPE_MULTILINE=true
LOG_DISABLE_STACKTRACE=false